<div *ngFor="let mapId of mapIds" class="leaderboard-card">
  <h2 class="leaderboard-title">Map: {{ mapId }}</h2>
  <table class="leaderboard-table">
    <thead>
      <tr class="leaderboard-header-row">
        <th class="leaderboard-header-cell">Rank</th>
        <th class="leaderboard-header-cell">User</th>
        <th class="leaderboard-header-cell">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let score of getSortedScores(mapId); let i = index"
        [ngClass]="i % 2 === 0 ? 'leaderboard-row-even' : 'leaderboard-row-odd'"
      >
        <td class="leaderboard-cell">{{ i + 1 | ordinal }}</td>
        <td class="leaderboard-cell">
          {{ score.userEmail }}
        </td>
        <td class="leaderboard-cell">{{ score.timeTaken }}</td>
      </tr>
    </tbody>
  </table>
</div>
