.door-container {
  padding: 1rem;
  text-align: center;
  background-color: black;
  color: #00ff00; 
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Courier New", Courier, monospace;
}

.input-field {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #001a00; 
  color: #00ff00; 
  border-radius: 4px;
  border: 1px solid #00ff00;
}

button {
  margin-top: 1rem;
  background-color: #001a00; 
  color: #00ff00; 
  border: 1px solid #00ff00;

  &:hover {
    background-color: #003300;
  }
}

.door-button {
  margin: 10px;
  background-color: #4caf50;
  color: #ffffff;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #45a049;
  }
}

.hint-button {
  color: #00ff00; 
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.rounded-button {
  border-radius: 20px;
}
