.switch-button {
  background-color: #6200ea; /* Modern purple tone */
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 0.5rem 2rem;
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
