<div class="home-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome to BreakOut</mat-card-title>
      <mat-card-subtitle>A Puzzle Adventure Game</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        BreakOut is an exciting game where players use the WASD keys to navigate
        through challenging puzzles. Your goal is to solve puzzles.
      </p>
      <p>Technical requirements:</p>
      <ul>
        <li>
          Responsive, mobile-first design ensuring a great experience on all
          devices.
        </li>
        <li>
          Rich data model with at least 4 TypeScript interfaces or classes.
        </li>
        <li>Well-structured application with modular components.</li>
        <li>
          Interactive UI using Angular forms and Material Design elements.
        </li>
        <li>Custom directives and pipes for enhanced functionality.</li>
      </ul>
      <p>
        Dive into the world of BreakOut and test your problem-solving skills
        while enjoying a seamless and engaging experience.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-stroked-button
        color="accent"
        class="start-game"
        (click)="startGame()"
      >
        Start Game
      </button>
    </mat-card-actions>
  </mat-card>
</div>
